<h1 class="text-center m-4 text-success">MY BLOG</h1>
<h2><%=flash[:notice]%> </h2>


 <%  @posts.each_slice(2) do |post2| %>
  <div class="card-deck">
    <%  post2.each do |post| %>
  <div class="card">
<%= image_tag post.image_url, class: 'card-image-top img-fluid', style: 'height:250px;width:250px' %>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text"><%= post.title %></p>
      <h5 class="card-title">Content</h5>
      <p class="card-text"><%= post.content %></p>
      <h5 class="card-title">Created_at</h5>
      <p class="card-text"><%= post.created_at %></p>

  </div>

  </div>
   <% end %>
</div>
<% end %>

<%= link_to "Dashboard", posts_dashboard_path %>
